<h3 class="mb-3">Adatrögzítés</h3>

<div class="alert alert-danger d-none" role="alert" id="alertBox">
    <!-- alertmessages shows here -->
</div>

<select class="form-select form-floating mb-3" aria-label="Default select example">
    <option value="1">Bevétel</option>
    <option value="2">Kiadás</option>
  </select>

<div class="form-floating mb-3">
    <input type="date" class="form-control" id="date" placeholder="" max="">
    <label for="date">Dátum</label>
</div>

<div class="form-floating mb-3">
    <input type="number" class="form-control" id="money" placeholder="" min="0" value="0">
    <label for="money">Egyenleg</label>
</div>

<button class="btn btn-primary mb-3" onclick="addSteps()">Rögzítés</button>